<h1 align="center">Alle Einträge</h1>

<!-- Show all entries -->
<%= render "shared/entries_list" %>

<div>
  <% if user_signed_in? %>
    <%= link_to "Neuer Eintrag", new_entry_path, class: "entries_link" %>
  <% end %>
</div>