<h1 align="center" class="header-normal">Alle Einträge&nbsp;
      <% if user_signed_in? %>
        <%= link_to new_entry_path do %>
          <span class="glyphicon glyphicon-plus icon-button" aria-hidden="true"></span>
        <% end %>
      <% end %></h1>

<div align="center"><%= will_paginate @entries, :previous_label => t("previous"), :next_label => t("next") %></div>

<!-- Show all entries -->
<%= render "shared/entries_list" %>

<div align="center"><%= will_paginate @entries, :previous_label => t("previous"), :next_label => t("next") %></div>