<h1 align="center" class="header-normal">Alle Einträge</h1>

<div align="center"><%= will_paginate @entries %></div>
<!-- Show all entries -->
<%= render "shared/entries_list" %>

<div>
  <% if user_signed_in? %>
    <%= link_to "Neuer Eintrag", new_entry_path, class: "entries_link" %>
  <% end %>
</div>
<div align="center"><%= will_paginate @entries %></div>