<div class="container">
   <h1 class="text-center mt-3">Impressum</h1>

   <div class="mt-5" style="font-size: 18px">
      <p>
         Georg Zurek<br>
         Graf-Adolf-Straße 45<br>
         58730 Fröndenberg<br>
      </p>

      <p>
         +49 2373 9460596<br>
         silesialinks@dav-apps.tech
      </p>
   </div>
</div>