.header-normal{
    margin-bottom: 20px;
}

.icon-button{
    font-size: 20px;
    color: black;
}

.no-hover-style:hover{
    text-decoration: none;
}

.entries-list-title{
    font-size: 25px;
    color: black;
}

.entries-list-title:hover{
    color: black;
}

.entry-text{
    text-align: left;
}