#top-container{
    height: 400px;
    width:100%;
    background: #eaeaea;
    position: relative;
    margin-top: -20px;
    margin-bottom: 50px;
}

#header{
    font-size: 280%;
    font-weight: bold;
    color: black;
}

#header-div{
    margin-top: 200px;
}

.navbar-custom{
	background-color: white;
	margin-top: -50px;
}

.navbar-link{
	color:black;
	font-size:110%;
}

.icon-bar{
	background-color:black;
}