<div class="container">
	<% if @index_page %><h1 class="mt-3 mb-0">Heutige Ereignisse</h1><% end %>
	<% if !@index_page %>
	<h1 class="header-normal mt-3 mb-0 text-center">
		Alle Einträge
		<% if user_signed_in? %>
			<%= link_to new_entry_path do %>
				<%= fa_icon "plus", class: "icon-button" %>
			<% end %>
		<% end %>
	</h1>
	<% end %>

	<%= render 'shared/messages' %>

	<% @entries.each do |entry| %>
		<%= render 'shared/entry_preview', entry: entry %>
	<% end %>
</div>