<div id="top-container">
    <div id="header-div" class="col-xs-4 col-xs-offset-2">
        <%= link_to "Silesialinks", root_path, id: "header" %>
        <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <% end %>
    </div>
</div>

<%= render 'shared/messages' %>

<script>
    function arrangeElements(){
        $("#top-container").css("height", $(window).height()/5);
        $("#header-div").css("margin-top", $(window).height()/14); 
    }
    
    arrangeElements();
    $(window).resize(function() {
        arrangeElements();
    });
</script>