<div id="top-container">
    <div id="header-div" class="col-xs-4 col-xs-offset-2">
        <%= link_to "Silesialinks", root_path, id: "header" %>
        <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, class: "btn btn-default", method: :delete %>
        <% end %>
    </div>
</div>

<div class="navbar navbar-custom">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	
	<div class="container">
		<div class="collapse navbar-collapse navbar-left">
			<ul class="nav navbar-nav">
				<li><a class="navbar-link" href="/entries">Alle Einträge</a></li>
			</ul>
		</div>
	</div>
</div>

<%= render 'shared/messages' %>

<script>
    function arrangeElements(){
        $("#top-container").css("height", $(window).height()/5);
        $("#header-div").css("margin-top", $(window).height()/14); 
    }
    
    arrangeElements();
    $(window).resize(function() {
        arrangeElements();
    });
</script>