<div class="container">
   <footer class="footer">
	<!--
      <small>
         Copyright &copy; 2018 by dav.
         All rights reserved
      </small>
		-->
      <nav>
         <ul>
            <li><%= link_to "Impressum", impressum_path %></li>
         </ul>
      </nav>
   </footer>
</div>